html body p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
}
.header__logo {
  position: relative;
  left: 10px;
}

.header__container {
  position: absolute;
  width: 100%;
  text-align: center;
}
.header__title__text {
  font-family: "Algerian", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.content {
  max-width: 90%;
  margin: 0 auto;
}
.content__title {
  margin-top: 24px;
  text-align: center;
  font-size: 24px;
}
.content__date {
  margin-top: 48px;
  text-align: end;
}
.content__recipient {
  margin-top: 32px;
}
.content__paragraph {
  margin-top: 16px;
  text-indent: 48px;
  margin-bottom: 10px;
  text-align: justify;
}

.content__sign__captain {
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: end;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer__doc_info {
  margin-top: 16px;
  text-align: justify;
}
.footer__sign {
  margin-top: 64px;
  text-align: end;
}

.footer__thumb {
  width: 150px;
  text-align: center;
  margin-top: 24px;
  margin-left: 24px;
}
.footer__thumb__box {
  height: 150px;
  border: 1px solid;
  border-color: black;
  margin-bottom: 10px;
}
